@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    /* Colors*/
    --background1: #F2F2F2;
    --background2:#F2C49B;
    --background3: #F28B30;
    --fontColor1: #F28b30;
    --fontColor2: white;
    --confirm: #BFD1D9;
    --warning: red;
    --condition: green;
    --Neutral: #BFD1D9;
    /* Buttons */
    --buttonColor1: #F28B30;
    --buttonColor2: #F2C49B;
    --buttonColor: White;

    /* Shadows */
    --buttonShow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
    /* Profile icon */
    --borderRadius: width:40px, height: 40px, 'border-radius': 50%;

    /* FONT_SIZE */
    --fontSize-button: 15px;
    --fontSize-head: 25px;
    --fontSize-label: 18px;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body{
    background-color: var(--backgroundWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    display: block;
    justify-content: center;
    padding: 10px;
    
    background-color: white;
    border-radius: 6px;
    box-shadow: var(--buttonShow);
    width: 300px;
    height: 400px;
}

.logo{
    width: 150px;
    display: flex;

    margin: 20px auto;
}

.head{
    color: var(--fontColor1);
    font-size:var(--fontSize-head);
    font-weight: 600;
    text-align: center;
}

button, a,.usr-input, .head{
    display: block;
    justify-content: center;
    
    margin: 10px auto;

    width: 80%;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.usr-input{
    background-color:#e2dede;
    margin-bottom: 30px;
    padding-left: 10px;
}

button{
    background-color: var(--buttonColor1);
    color: var(--fontColor2);
    font-weight: 600;
    box-shadow: var(--buttonShow);
}

a{
    text-align: center;
    text-decoration: none;
    color: var(--fontColor3);
}

button:hover{
    color: var(--fontColor2);
    background-color: var(--buttonColor2);
}

a:active{
    color: var(--fontColor1);
}

.log-in{
    font-weight: 600;
}

.log-in:hover{
    color: var(--fontColor1);
}

@media screen and (max-width: 550px){
    form{
        width: 100vw;
        height: 100vh;
    }
}